body {
  background-color: #7d7c7c;
  color: #fff;
  margin: 0;
}

#container {
  background-color: #b3b3b3;
  max-width: max-content;
  height: 100vh;
  justify-self: center;
}

#category-running-total {
  background-color: blueviolet;
}

@media (min-width: 600px) {
  #content {
    display: flex;
  }

  #chart-container {
    width: 50%;
  }
}
