doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/4807/4807630.png" type="image/x-icon")
    script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")
    title=title
  body(class="flex justify-center items-center")
    div(class="absolute inset-0 h-screen bg-[url('https://images.unsplash.com/photo-1635695604201-2b718204bccb?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8A%3D%3D')] bg-cover bg-center filter blur-[1.5px]")
    div(class="relative flex w-screen h-screen items-center justify-center xl:justify-end xl:pr-10")
      form(action="/login", method="post" class="relative flex flex-col w-4/5 bg-green-50 pl-8 pr-8 pt-15 pb-15 sm:w-2/3 lg:w-1/2 xl:w-2/5") 
        h1(class="ml-auto mr-auto text-xl text-green-950 font-bold mb-5 sm:text-2xl") Welcome back!
        label(for="email") Email
        input(type="email" id="email" name="email" class="bg-green-200 mb-5 h-9 hover:bg-green-300 border-b border-green-500" required)
        label(for="password") Password
        input(type="password" id="password" name="password" class="bg-green-200 mb-5 h-9 hover:bg-green-300 border-b border-green-500" required)
        button(type="submit" class="bg-blue-500 w-2/4 ml-auto mr-auto mt-3 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full sm:w-1/3") Log In
        p(class="mt-5") Don't have an account? 
          a(href="/signup" class="text-blue-500 hover:font-semibold") Sign up here